<div class="container" id="container">

	<% @products.each do |product| %>
		
			<div class="box ">	
				<div class="image"><%= image_tag(product.image) %></div>
				
				<div class="box-body">
					<div class="name"><%= link_to product.name, products_path %></div>
					<div class="desc"><%= truncate(strip_tags(product.description), length: 150) %></div>
					<div class="readmore"><%= link_to "Read More" %></div>
				</div>
				<div class="box-footer">
					<%= link_to number_to_currency(product.price) %>
				</div>

			</div>

	<% end %>

	<div class="pagination-centered">
		<%= will_paginate @products, renderer: FoundationPagination::Rails %>
	</div>
</div>


